<!DOCTYPE html>
<html>
<head>
    <title>JobHub - Login</title>
</head>

<body>

    <h1>JobHub</h1>

    <h2>Login</h2>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div>
            <label>Username</label>
            <input type="text" name="username" required>
        </div>

        <br>

        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <br>

        <button type="submit">Login</button>
    </form>

</body>
</html>